.page-layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.aside-layout {
  flex-shrink: 0;
}

.main-layout {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}

.fullscreen-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

